.row
  .col-lg-4
  .col-lg-4
    - @notes.each do |note|
      .panel{class: (note.complete ? "panel-danger" : "panel-info")}
        .panel-heading
          .row
            .col-lg-7
              %small
                %em
                  Tags: #{note.tags}
            .col-lg-5
              .pull-right
                %small
                  %em
                    Frequency: #{note.frequency}
        .panel-body.panel-info
          = note.content
        .panel-footer.text-muted
          .row
            .col-lg-8
              %small
                %em
                  - unless note.complete 
                    = "Must do at: #{note.must_do_at.strftime("%Y-%m-%d %H:%M")}"
                  - else 
                    = "Have Done at: #{note.have_done_at.strftime("%Y-%m-%d %H:%M")}"
            .col-lg-4
              .pull-right
                %a{href: "/note/#{note.id}/archive"}  
                  %span.glyphicon.glyphicon-font
                %a{href: "/note/#{note.id}/complete"}
                  %span.glyphicon.glyphicon-flash
                %a{href: "/note/#{note.id}/delete"}
                  %span.glyphicon.glyphicon-trash
              
  .col-lg-4

