.row
  .col-lg-4
  .col-lg-4
    - if @note
      .panel{class: (@note.complete ? "panel-danger" : "panel-info")}
        .panel-heading
          .row
            .col-lg-7
              %small
                %em
                  Tags: #{@note.tags}
            .col-lg-5
              .pull-right
                %small
                  %em
                    Frequency: #{@note.frequency}
        .panel-body.panel-info
          = @note.content
        .panel-footer.text-muted
          .row
            .col-lg-8
              %small
                %em
                  - unless @note.complete 
                    = "Must do at: #{@note.must_do_at.strftime("%Y-%m-%d %H:%M")}"
                  - else 
                    = "Have Done at: #{@note.have_done_at.strftime("%Y-%m-%d %H:%M")}"
            .col-lg-4
              .pull-right
                %a{href: "/note/archive/#{@note.id}"}  
                  %span.glyphicon.glyphicon-font
                %a{href: "/note/complete/#{@note.id}"}
                  %span.glyphicon.glyphicon-flash
                %a{href: "/note/edit/#{@note.id}"}
                  %span.glyphicon.glyphicon-pencil
  .col-lg-4

.row
  .col-lg-4
  .col-lg-4.text-center
    - if @note
      %form{method: "POST", action: "/note/#{@note.id}"}
        .form-group
          %input{type: "hidden", name: "_method", value: "delete"}
        .form-group
          %button.btn.btn-danger{type: "submit"} Delete
          %a.btn.btn-primary{href: "/note"} Cancel
    - else
      Note not found
  .col-lg-4
