.row
  .col-lg-4
  .col-lg-4.text-center
    %form{method: "POST", action: "/note"}
      .form-group
        %textarea.form-control{name: "content", placeholder: "Type here ..."}
      .form-group
        %input.form-control{name: "tags", type: "text", 
          placeholder: "Comma-separated tags ..."}
      .form-group
        %input.form-control{name: "must_do_at", type: "text", 
          placeholder: "Must do at (for example 2013-10-19 18:15:07)"}
      .form-group
        %select.form-control{name: "frequency"}
          %option{value: "once"} Once
          %option{value: "daily"} Daily
          %option{value: "weekly"} Weekly
          %option{value: "monthly"} Monthly
          %option{value: "annually"} Annually
      .form-group
        %button.btn.btn-primary{type: "submit"} Submit
  .col-lg-4

.row
  .col-lg-4
  .col-lg-4
    - @notes.each do |note|
      .panel{class: (note.complete ? "panel-danger" : "panel-info")}
        .panel-heading
          .row
            .col-lg-7
              %small
                %em
                  Tags: #{note.tags}
            .col-lg-5
              .pull-right
                %small
                  %em
                    Frequency: #{note.frequency}
        .panel-body.panel-info
          = note.content
        .panel-footer.text-muted
          .row
            .col-lg-8
              %small
                %em
                  - unless note.complete 
                    = "Must do at: #{note.must_do_at.strftime("%Y-%m-%d %H:%M")}"
                  - else 
                    = "Have Done at: #{note.have_done_at.strftime("%Y-%m-%d %H:%M")}"
            .col-lg-4
              .pull-right
                %a{href: "/note/archive/#{note.id}"}  
                  %span.glyphicon.glyphicon-font
                %a{href: "/note/complete/#{note.id}"}
                  %span.glyphicon.glyphicon-flash
                %a{href: "/note/edit/#{note.id}"}
                  %span.glyphicon.glyphicon-pencil
                %a{href: "/note/delete/#{note.id}"}
                  %span.glyphicon.glyphicon-trash
              
  .col-lg-4

