<section id="add">
  <form action="/note" method="post">
    <textarea name="content" placeholder="Your note&hellip;"></textarea>
    <br/>
    <input type="submit" value="Take Note!" />
  </form>
</section>

<% @notes.each do |note| %>
  <article <%= 'class="complete"' if note.complete %>>
    <p>
      <%= note.content %>
      <span><a href="/note/<%= note.id %>">[edit]</a></span>
    </p>
    <p>
      <a href="/note/<%= note.id %>/complete">&#8623;</a>
    </p>
    <p>Created: <%= note.created_at %></p>
  </article>
<% end %>
